/*Estilos generales */
body {
    margin:0;
    font-family: Arial,sans-serif;
    background-color: #f4f4f4;
}

/* Encabezado*/
header {
    background-color: #964b00;
    color: white;
    display: flex;
    padding: 20px 30px;
    justify-content: space-between;

    /*header fijo*/
    position: sticky;
    top: 0;
    z-index: 1000;
}
.titulo {
    text-align: left;
}

.logoprincipal {
    width: 125px;
    height: auto;

}
.titulo h1 {
    margin: 0;
}

.titulo p {
    margin-top: 10px;   
}

h2 {
    text-align: center;
    margin-top: 25px;
    font-size: 40px;
    font-family: 'courier','times new roman', sans-serif;
}

.productos {
    display: grid;

    /* En Computadoras: 6 productos horizontalmente */
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding:30px;
}

.targeta{
    background-color:white;
    padding: 20px;
    text-align: center;
    border-radius: 40px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    overflow:hidden;

    display:flex;
    flex-direction: column;

    /* animacion*/
    transition: 0.3s;
    border: 2px solid transparent;
}
.targeta:hover{
    border: 2px solid #1d3557;

    transform: translateY(-8px);

    box-shadow: 0 8px 18px rgba(0,0,0,0.3);


}

/*IMAGENES*/
.contenedor-img{
    width: 100%;
    height:180px;

    display:flex;
    justify-content:center;
    align-items: center;

    background-color:white;
    overflow: hidden;
    border-radius: 40px;
}

.contenedor-img img{
    max-width: 100%;
    max-height: 100%;

    width: auto;
    height: auto;
    object-fit: contain;
}



/*Nombre del producto*/
.targeta h3 {
    color:#1d3557;
    min-height: 25px;
}

/* descripcion del producto*/
.targeta p {
    color: black;
    min-height: 70px;
    margin: 10px 0;
}

/* Precio*/
.targeta h4 {
    color: green;
    font-size: 18px;
    margin: 10px 0;
}

/* boton*/
.targeta button {
    background-color: #964b00;
    color: white;
    border: none;
    border-radius:5px;
    padding: 10px 20px;
    cursor: pointer;

    margin-top: auto;
    align-self: center;
}

/* cambiar de color al pasar el mouse */
.targeta button:hover {
    background-color: #964b00;
}

/* TABLET*/

@media (max-width: 1024px)
{
    .productos {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Celular*/
@media (max-width: 600px)
{
    .productos {
        grid-template-columns: repeat(1, 1fr);
    }
}

footer{
    background-color: #964b00;
    color:white;
    text-align:center;
    padding: 20px;
    margin-top: 30px;
}

footer p{
    margin: 5px;
}

